@if (Model == true)
{
    <button class="add-to-wishlist"><i class="fa fa-heart"  id="btnSave" ></i><span class="tooltipp">add to wishlist</span></button>
}
else
{
    <button class="add-to-wishlist"><i class="fa fa-heart-o" id="btnSave"></i><span class="tooltipp">add to wishlist</span></button>
}
